.item {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.label {
    display: flex;
    gap: 35px;
    align-items: center;
}

.item:not(:last-child) {
    border-bottom: 0.5px solid #E5E5E5;
    border-top: 0.5px solid #E5E5E5;
}

.item:not(:last-child) {
    border-top: 0.5px solid #E5E5E5;
}

.item:first-child {
    border-top: none;
}

.task {
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: #666666;
}

input:checked+.task {
    color: #ACACAC;
}

.checkbox {
    display: none;
}